@media screen and (max-width: 767px) {
    * {
        padding: .5em;
        margin: auto;
    }
    body {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        font-family: sans-serif;
    }
    ul {
        list-style: none;
    }
    li {
        margin: 1em;
        width: auto;
        background-color: lightgrey;
        text-align: center;
    }
    h1 {
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    img {
        width: 100%;
        display: flex;
    }
    .alert-info.hidden-on-desktop {
        display: flex;
        justify-content: center;
        background-color: rgba(150, 243, 246, 0.65);
        border: 2px solid darkgrey;
        text-decoration: none;
    }
    div.alert-info > a {
        color: black;
        text-decoration: none;
    }
    section.sub-section {
        font-style: italic;
        font-size: medium;
    }
   footer{
       display: flex;
   }
}

@media screen and (min-width: 768px){
    * {
        padding: .5em;
        margin: auto;
    }
    body {
        font-family: sans-serif;
    }
    .alert-info{
        display: none;
    }
    h1 {
        float: left;
    }
    .nav-links {
        float: right;
        display: flex;
        flex-direction: row;
    }
    ul {
        list-style: none;
        padding: 1em;
    }
    div>img{
        width: 100%;
        padding: .5em;
        display: flex;
        justify-content: center;
    }
    .main {
        width: 55%;
        float: left;
        padding: 1em;

    }
    section.sub-section {
        font-style: italic;
        font-size: medium;
    }
    section{
        padding-bottom: 5em;
    }
   footer {
       display: flex;
       padding-top: 4em;
       font-size: small;
   }
   i {
       font-size: x-large;
       color: #3B94D9;
   }
}