.card-decor{
    padding: 0;
    margin: 1em;
    width: 250px;
    height: 255px;
    border-radius: 5px;
    word-wrap: break-word;
    border: 1px solid lightgrey;
    display: inline;
    ;

}

.date-header {
    background: lightgrey;
    border: 1px solid lightgrey;
    padding: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
}

.hiLoImg {
    background: rgba(128, 202, 255, 0.57);
}

.headingFont {
    font-family: Tilt Prism, sans-serif;
    font-weight: bold;
}

