.card-decor{
    padding: 0;
    margin: 1em;
    width: 250px;
    height: 300px;
    word-wrap: break-word;
    border: 1px solid black;
    display: inline-block;
}

.date-header {
    background: lightgrey;
    border: 1px solid grey;
    padding: 0;
}